  <h1>logged in {{ x.isuserLoggedin }}</h1>
    <mat-toolbar color="primary">
      <app-homebutton></app-homebutton>
      
      <span class="example-spacer"></span>
      <div>
        <button mat-icon-button class="login-icon" aria-label="Example icon-button with heart icon">
          <mat-icon>login</mat-icon>
        </button>
      </div>
      <button mat-icon-button class="logout" aria-label="Example icon-button with share icon">
        <mat-icon>logout</mat-icon>
      </button>
    </mat-toolbar>
  
  
  